<section class="typeOfWorkouts">
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Caminhada')">
                    <img src="/icons/walkIcon.png" width="30px" alt=""/>
                </a>
            </section>
            <figcaption>Caminhada</figcaption>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Corrida')">
                    <img src="/icons/runIcon.png" width="30px" alt="">
                </a>
            </section>
            <p>Corrida</p>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Ciclismo')">
                    <img src="/icons/cyclingIcon.png" width="30px" alt="">
                </a>
            </section>
            <p>Ciclismo</p>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Velocidade')">
                    <img src="/icons/speedIcon.png" width="30px" alt="">
                </a>
            </section>
            <p>Velocidade</p>
        </section>
    </section>