<section class="pageContainer">
    <section class="title">
        <h1>Treinos Disponíveis</h1>
    </section>
    <section class="typeOfWorkouts">
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Caminhada')">
                    <img src="/icons/walkIcon.png" width="30px" alt="Caminhada" />
                </a>
            </section>
            <p>Caminhada</p>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Corrida')">
                    <img src="/icons/runIcon.png" width="30px" alt="Corrida">
                </a>
            </section>
            <p>Corrida</p>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Ciclismo')">
                    <img src="/icons/cyclingIcon.png" width="30px" alt="Ciclismo">
                </a>
            </section>
            <p>Ciclismo</p>
        </section>
        <section class="workout">
            <section class="imgContainer">
                <a (click)="openTrainingPage('Velocidade')">
                    <img src="/icons/speedIcon.png" width="30px" alt="Velocidade">
                </a>
            </section>
            <p>Velocidade</p>
        </section>
    </section>
</section>