<section class="historyContainer">
    <h1>Histórico de treinos</h1>
    <section class="historyItems">
        @if(historyItem){
            <section class="item">
                <section class="itemImg">
                    <img src="/icons/historyItemIcon.svg" width="80px" alt="">
                </section>
                <section class="itemInfo">
                    <figcaption><b class="specialText">Tipo:</b> Caminhada</figcaption>
                    <figcaption><b class="specialText">Duração:</b> 23:12 min</figcaption>
                    <figcaption><b class="specialText">Data:</b> 24/06/2025, 16:54h</figcaption>
                </section>
            </section>
        }
        @else {
            <section class="emptyActivities">
                <img src="/icons/emptyIcon.png" width="150px" alt="">
                <h1>Nenhum treino realizado</h1>
            </section>
        }
    </section>
</section>