<nav>
    <section class="navLinks">
        <a (click)="switchPage('Início')">
            <img src="/icons/homeIcon.png" width="25px" alt="">
            <figcaption>Início</figcaption>
        </a>
        <a (click)="switchPage('Treino')">
            <img src="/icons/speedometerIcon.png" width="25px" alt="">
            <figcaption>Treino</figcaption>
        </a>
        <a href="">
            <img src="/icons/ListIcon.png" width="25px" alt="">
            <figcaption>Histórico</figcaption>
        </a>
        <a href="">
            <img src="/icons/profileIcon.png" width="25px" alt="">
            <figcaption>Perfil</figcaption>
        </a>
    </section>
</nav>